@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.blue-background {
    background-color: #0062ff !important;
    color: #FFF !important;
}

.blue-color {
    color: #0062ff !important;
}

.blue-border {
    border-color: #0062ff !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #0062ff;
}

.select-dropdown li.disabled>span {
    font-size: 13px;
}

a:hover {
    text-decoration: none;
    color: #000;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0062ff;
    -webkit-box-shadow: 0 1px 0 0 #0062ff;
    box-shadow: 0 1px 0 0 #0062ff;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #0062ff;
}

.main-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all .2s ease-in-out;
    /* background-color: #FFF; */
}

header.scrolled {
    background: rgba(255, 255, 255, .98);
    transition: all .2s ease-in-out;
    /* border-bottom: solid 1px #ededed; */
    box-shadow: 0px 10px 20px rgba(104, 103, 103, 0.1);
    height: 50px;
}

header.scrolled .header .logo, header.scrolled .header .group-button a {
    line-height: 25px;
    transition: all .2s ease-in-out;
    text-shadow: none !important;
}

header.scrolled .header .group-button a.btn-floating {
    width: 30px;
    height: 30px;
    /* text-align: center; */
    /* transition: all .1s ease-in-out; */
}

header.scrolled .header .group-button a.btn-floating i {
    font-size: 1.3rem;
    line-height: 30px;
    /* transition: all .1s ease-in-out; */
}

.btn-floating {
    background: #0062ff;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
}

.header.logged .group-button a {
    min-width: inherit;
    border-radius: 50%;
    padding: inherit;
    border: solid 1px #cecece;
    box-shadow: none;
}

.header.logged .group-button a i {
    background: #f5f5fa;
    color: #667683;
    box-shadow: none;
}

.header.with-search .group-button a:first-child {
    background: #f5f5fa;
    color: #000;
    border: solid 1px #ededed;
}

.header.logged .group-button a:first-child {
    border: solid 1px #cecece;
}

.header.with-search .search-group {
    flex-grow: 2;
}

.header.with-search .search-group input {
    padding: 0;
    width: 88%;
    margin: 0px auto;
    margin-left: 6%;
    border: solid 1px #cecece;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 13px;
    line-height: 42px;
    height: 40px;
    transition: all .2s ease-in-out;
}

.scrolled .header.with-search .search-group input {
    height: 28px;
    transition: all .2s ease-in-out;
}

.header.with-search .search-group input::placeholder {
    color: #999;
}

.header .logo, .header .group-button a {
    line-height: 40px;
    transition: all .2s ease-in-out;
}

.header .group-button a {
    border: solid 1px #FFF;
    display: inline-block;
    padding: 0px 20px;
    min-width: 120px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 0px 5px rgba(0, 0, 0, .25);
    margin-left: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
}

.scrolled .header .group-button a {
    color: #333;
    border: solid 1px #333;
    text-transform: uppercase;
    font-size: 12px;
}

.contents {
    position: relative;
    top: 70px;
}

.main-top {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    min-height: 450px;
    /* background-color: #ededed; */
    /* overflow: hidden; */
}

.main-top .container, .main-top .row {
    height: 100%;
    /* position: relative; */
    /* overflow: hidden; */
}

.top-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.top-items {
    width: 60%;
    margin: 3% 0;
}

.top-content p {
    font-size: 25px;
    /* font-weight: 300; */
    font-weight: 100;
    margin-top: 80px;
}

.top-content h3, .top-content h3 b {
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;
}

.hidden-video {
    width: 60%;
    height: 120%;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    z-index: 9;
    right: -15%;
    top: -70%;
    border-radius: 45px;
    transform: rotate(-45deg);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.hidden-video video {
    height: 170%;
    transform: rotate(45deg);
    position: relative;
    left: -50%;
    bottom: -10%;
}

.top-search {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0, 92, 255, 0.19);
}

.top-search .row {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.top-search .row .row {
    width: 100%;
}

.top-search .row button {
    margin-top: 15px;
    font-size: 12px;
    width: 120px;
    height: 50px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    color: #0062ff;
    background: #FFF !important;
}

.top-search .input-field>label {
    color: #FFF;
    font-weight: 100 !important;
    font-size: 13px;
}

.top-search input[type=text]:not(.browser-default) {
    border-bottom: solid 1px #FFF;
    color: #FFF;
    line-height: 50px;
}

.top-search input[type=text]:not(.browser-default):focus {
    border-bottom: 1px solid #FFF;
    -webkit-box-shadow: 0 1px 0 0 #FFF;
    box-shadow: 0 1px 0 0 #FFF;
}

.top-search .input-field .prefix {
    color: #FFF;
}

.top-search input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #FFF;
}

.top-filter {
    margin-top: 35px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    /* grid-row-gap: 15px; */
    width: 100%;
    position: relative;
    z-index: 15;
    line-height: 90px;
}

.top-filter .filter-item .input-field input {
    width: calc(100% - 20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.top-filter .filter-item .col {
    padding: 0 !important;
}

.top-filter .filter-item select, .top-filter .filter-item input {
    font-size: 13px;
    background: #FFF;
    border: solid 1px #ededed;
    padding-left: 20px;
    line-height: 70px;
    height: 70px;
    border-radius: 3px;
    font-weight: bold;
}

.select-wrapper .caret {
    z-index: 15;
}

.top-filter .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #0062ff;
}

.top-filter .dropdown-content li>span {
    font-size: 12px;
}

.grid-two, .grid-five, .grid-four {
    width: 100%;
    position: relative;
    margin: 30px 0px;
    z-index: 10;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-column-gap: 30px;
}

.grid-two .grid-container {
    grid-template-columns: 1fr 1fr;
}

.grid-five .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-four .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container .grid-item {
    background-position: center;
    background-size: cover;
    padding: 30px 15px;
    color: #FFF;
    border-radius: 3px;
    /* background-image: url('../images/1.png'); */
    margin-bottom: 30px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.grid-container .grid-item a p {
    color: #000;
}

.grid-five .grid-container .grid-item h3, .grid-five .grid-container .grid-item span, .grid-four .grid-container .grid-item h3, .grid-four .grid-container .grid-item span {
    color: #637381;
    font-size: 12px !important;
}

.grid-five .img-container, .grid-four .img-container {
    position: relative;
}

.grid-five .img-container::before, .grid-four .img-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .25);
}

.grid-five .img-container .heart, .grid-five .img-container .beds, .grid-five .img-container .plans, .grid-four .img-container .heart, .grid-four .img-container .beds, .grid-four .img-container .plans {
    position: absolute;
    color: #FFF;
    z-index: 2;
}

.grid-five .img-container .heart i, .grid-five .img-container .beds i, .grid-five .img-container .plans i, .grid-four .img-container .heart i, .grid-four .img-container .beds i, .grid-four .img-container .plans i {
    font-size: 18px;
    position: relative;
}

.grid-five .img-container .heart, .grid-four .img-container .heart {
    color: #0062ff;
    top: 10px;
    right: 10px;
    background: #FFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.grid-five .img-container .heart:hover, .grid-four .img-container .heart:hover {
    background: #0062ff;
    transition: all .3s ease-in-out;
}

.grid-five .img-container .heart:hover i, .grid-four .img-container .heart:hover i {
    color: #FFF;
    transition: all .3s ease-in-out;
}

.grid-five .img-container .beds, .grid-four .img-container .beds {
    bottom: 10px;
    left: 10px;
    font-size: 15px;
}

.grid-five .img-container .plans, .grid-four .img-container .plans {
    bottom: 10px;
    right: 10px;
    font-size: 15px;
}

.grid-five .img-container .beds i, .grid-five .img-container .plans i, .grid-four .img-container .beds i, .grid-four .img-container .plans i {
    top: 3px;
    padding-right: 3px;
}

.grid-container .grid-item span.tag {
    background-color: #0062ff;
    color: #FFF;
    padding: 1px 25px;
    border-radius: 3px;
    font-size: 12px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.grid-container .grid-item h3, .grid-container .grid-item p, .grid-container .grid-item span {
    position: relative;
    z-index: 2;
}

.grid-container .grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.grid-two .grid-container .grid-item:nth-child(1) {
    background-image: url('../images/1.png');
}

.grid-two .grid-container .grid-item:nth-child(2) {
    background-image: url('../images/2.png');
}

.grid-two .grid-container .grid-item h3 {
    font-size: 18px;
    margin-top: 80px;
    text-transform: uppercase;
}

.grid-five .grid-container .grid-item .gird-image, .grid-four .grid-container .grid-item .gird-image {
    width: 100%;
}

.grid-five .grid-container .grid-item, .grid-four .grid-container .grid-item {
    padding: 0;
    font-size: 13px;
    color: #333;
    padding-bottom: 10px;
}

.grid-five .grid-container .grid-item h3, .grid-five .grid-container .grid-item p, .grid-four .grid-container .grid-item h3, .grid-four .grid-container .grid-item p {
    font-size: 15px;
    margin-bottom: 0;
}

.grid-five .grid-container .grid-item h3, .grid-four .grid-container .grid-item h3 {
    text-transform: uppercase;
    margin-top: 15px;
}

.grid-five .grid-container .grid-item p, .grid-four .grid-container .grid-item p {
    font-weight: bold;
    padding: 5px 0px;
    padding-bottom: 0;
}

.grid-five .grid-container .grid-item::before, .grid-four .grid-container .grid-item::before {
    display: none;
}

.more-btn {
    width: 100%;
}

.more-btn a {
    width: 80%;
    line-height: 45px;
    text-align: center;
    display: block;
    border: solid 1px #0062ff;
    color: #333;
    margin: 60px auto;
    margin-bottom: 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
}

.blue-input {
    width: 60%;
    margin: auto;
}

.blue-input .input-field {
    padding: 0;
}

.blue-input .input-field::before {
    content: '-->';
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 1;
}

.blue-input .input-field>label {
    color: #333;
    font-weight: 100 !important;
    font-size: 13px;
}

.blue-input input[type=text]:not(.browser-default) {
    border-bottom: solid 1px #0062ff;
    color: #0062ff;
    line-height: 50px;
}

.blue-input input[type=text]:not(.browser-default):focus {
    border-bottom: 1px solid #0062ff;
    -webkit-box-shadow: 0 1px 0 0 #0062ff;
    box-shadow: 0 1px 0 0 #0062ff;
}

.blue-input .input-field .prefix {
    color: #0062ff;
}

.blue-input input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #0062ff;
}

.footer-menus {
    width: 100%;
    /* padding: 20px 0px; */
    border-bottom: solid 1px #ededed;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer-menus .row {
    margin-bottom: 0;
}

.footer-menus ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-menus ul li a {
    color: #333;
    line-height: 35px;
}

.copyright {
    text-align: center;
    padding-bottom: 30px;
    font-size: 13px;
}

.copyright i {
    font-size: 15px;
    width: 40px;
    line-height: 40px;
}

.main-container.login {
    display: flex;
    align-items: center;
    padding-left: 15%;
}

.login-cn {
    max-width: 35%;
    min-width: 300px;
    padding: 30px 40px;
    background-color: #FFF;
    border-radius: 3px;
}

.login-cn p {
    padding: 20px 0px;
    font-size: 15px;
    color: #637381;
    font-weight: 300;
}

.login-cn .input-field label {
    font-weight: 300;
}

.login-cn .blue-input {
    width: 100%;
}

.login-cn .blue-input .input-field::before {
    content: '';
}

.login-cn>a {
    font-size: 13px;
    font-weight: 300;
    margin-top: 30px;
    display: block;
}

.login-cn form a {
    width: 200px;
    background: #0062ff;
    color: #FFF !important;
    line-height: 40px;
    border-radius: 3px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.filter-collapse {
    width: 100%;
}

.filter-collapse .collapsible {
    border-radius: 3px;
    box-shadow: 0 0px 10px 0 rgba(0, 98, 255, 0.14);
    /* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 98, 255, 0.14), 0 3px 1px -2px rgba(0, 98, 255, 0.12), 0 1px 5px 0 rgba(0, 98, 255, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 98, 255, 0.14), 0 3px 1px -2px rgba(0, 98, 255, 0.12), 0 1px 5px 0 rgba(0, 98, 255, 0.2); */
}

.filter-collapse .collapsible .collapsible-header {
    font-size: 10px;
}

.filter-collapse .collapsible .collapsible-header i {
    font-size: 14px;
}

.filter-collapse .collapsible li.active {
    color: #0062ff;
}

.filter-collapse .collapsible-body form input, .collapsible-body form select {
    font-size: 12px !important;
    border: solid 1px #cecece !important;
    padding-left: 10px !important;
    border-radius: 3px !important;
    /* height: 30px !important; */
}

.filter-collapse .collapsible-body form .input-field>label {
    font-size: 12px;
    color: #333;
    padding-left: 10px !important;
    /* height: 30px !important; */
    /* line-height: 30px !important; */
    /* -webkit-transform: translateY(0);
    transform: translateY(0); */
    /* background: #FFF !important; */
}

.filter-collapse .collapsible-body form .row, .collapsible-body form .row .col {
    margin: 0;
    /* padding: 0; */
}

.filter-collapse .input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(2px) scale(0.8) !important;
    transform: translateY(2px) scale(0.8) !important;
}

.icon-filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon-filter .icon-filter-item {
    border: solid 1px #cecece;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.icon-filter .icon-filter-item img {
    height: 40px;
    width: auto;
}

.icon-filter .icon-filter-item span {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: #0062ff;
    border-radius: 50%;
    text-align: center;
}

.icon-filter .icon-filter-item span i {
    color: #FFF;
    font-size: 15px;
    line-height: 20px;
}

.profile-menu .profile-header .profile-img {
    width: 100%;
    line-height: 30px;
    border: solid 1px #cecece;
    padding: 5px 10px;
    border-radius: 3px;
}

.profile-menu .profile-header .profile-img span {
    padding-left: 10px;
    font-weight: bold;
    font-size: 13px;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.profile-nav ul {
    font-size: 13px;
    text-transform: uppercase;
    padding: 25px 0px;
}

.profile-nav ul li {
    line-height: 25px;
    padding: 5px 0px;
}

.profile-nav ul li a {
    color: #333;
}

.profile-nav ul li.active a {
    color: #0062ff;
}

.grid-item.agent a {
    display: block;
    border: solid 1px #cecece;
    padding: 30px 20px;
    text-align: center;
    border-radius: 3px;
}

.grid-item.agent a .agent-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 30px auto;
    border: solid 1px #cecece;
}

.grid-item.agent a .agent-img img {
    height: 100px;
}

.agent-info h3 {
    color: #000 !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
}

.agent-info p {
    font-size: 10px !important;
    color: #637381 !important;
    text-transform: uppercase !important;
}

.agent-info .agent-phone {
    font-size: 13px;
    color: #000;
    border: solid 1px #cecece;
    margin: 20px 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.agent-info .agent-phone i {
    font-size: 13px;
    position: relative;
    top: 2px;
    color: #0062ff;
}